<!DOCTYPE html>
<html>
<head>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5964121449610711",
    enable_page_level_ads: true
  });
</script>

	<title>Share Files</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="assets/font/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="assets/font/font.css" />
<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen" />


</head>
<body>
<nav class = "navbar navbar-default" role = "navigation">

	<div class = "navbar-header">
		<button type = "button" class = "navbar-toggle"
				data-toggle = "collapse" data-target = "#example-navbar-collapse">
			<span class = "sr-only">Toggle navigation</span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>

		<a class = "navbar-brand" href = "#">Share E-books</a>
	</div>

	<div class = "collapse navbar-collapse" id = "example-navbar-collapse">

		<ul class = "nav navbar-nav">
			<li><a href = "#">iOS</a></li>
			<li class = "dropdown">
				<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
					Java
				</a>

				<ul class = "dropdown-menu">
					<li><a href = "#">jmeter</a></li>
					<li><a href = "#">EJB</a></li>
					<li><a href = "#">Jasper Report</a></li>
				</ul>

			</li>
			<li><a href = "#">SVN</a></li>

			<li class = "dropdown">
				<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
					Java
				</a>

				<ul class = "dropdown-menu">
					<li><a href = "#">jmeter</a></li>
					<li><a href = "#">EJB</a></li>
					<li><a href = "#">Jasper Report</a></li>
				</ul>

			</li>

		</ul>
	</div>
</nav>

	<div class="container">
		<div class="row row-list">
			<div id="left-bar" class="bar col-md-2">
				<div class="bar-child col-md-12">
					<h4><small>Navigation Links</small></h4>
					<p><a href="">Search</a></p>
					<p><a href="">Upload</a></p>
					<p><a href="">Download</a></p>
				</div>
				<div class="bar-child col-md-12">
					<h4><small>Statistics</small></h4>
                    <p>Total Visitors <span></span></p>
                    <p>Total Uploads <span></span></p>
                    <p>Total Downloads <span></span></p>
                    <p>Most Popular category <span></span></p>
				</div>
				<div class="bar-child col-md-12">
					advertiasement here
				</div>
				<div class="bar-child col-md-12">
					<h4><small>Quote</small></h4>
				</div>
			</div>
			<div class="bar col-md-7 text-center">
                <div class="bar-child">
                    <h4>E-book Search Engine</h4>
                    <input type="text" class="form-control text-center" placeholder="Book name">
                    <div class="as-table">

                        <input type="text" class="form-control text-center" placeholder="Category of book">
                    </div>
                    <div class="as-table">

                        <input type="text" class="form-control text-center" placeholder="Writer name">
                    </div>
                    <div class="as-table">

                        <input type="text" class="form-control text-center" placeholder="Your custom keyword">
                    </div>
                    <button class="search-btn btn btn-info btn-sx">Find me the book</button>
                    <hr>
                    <div id="search-result">

                    </div>
                </div>
            </div>
			<div id="right-bar" class="bar col-md-3">
                <div class="row bar-child col-md-12 text-center">
                    <p><a href="">Login</a></p>
                    <p>Login not mandatory, but helps us recognize you</p>
                </div>
                <div class="row bar-child col-md-12">
                    <img src="assets/imgages/du.png" width="100%" height="300px">
                </div>
                <div class="row bar-child col-md-12">
                    <p>Some necessary contents here</p>
                </div>
                <div class="row bar-child col-md-12">
                    <img src="assets/imgages/linux.jpeg" width="100%" height="300px">
                </div>
            </div>
		</div>
	</div>

</body>
</html>